  *{margin: 0;padding: 0;}
		  li{list-style: none;border: none;}
		  a{text-decoration: none;}
		  img{border: none;vertical-align: bottom;}
		  
		  body{
		  	width: 100%;
		  	height: 100%;
		  	
		  }
		  .mod{
		  	width: 1200px;
		  	height: 40px;
		  	/*border:  solid 1px;*/
		  	/*border-top:solid 1px orangered ;*/
		  	margin: 0 auto;
		  	
		  }
		  .mod:after{
		  	content: ''; display: block; clear: both;
		  }
		  .mod li{
		  	float: left;
			margin-right: 10px;
			line-height: 40px;
		  }
		 
		 .detail{
		
		 	width: 1200px;
		 	
		 	margin: 0 auto;
		 	/*border: solid 1px;*/
		 	margin-top:20px ;
		 }
		 
		 .l{
		 	width: 400px;
		 	height: 500px;
		 	/*border: solid 1px;*/
		 	float: left;
		 }
		 
		 .image{
		 	width: 400px;
		 	height: 400px;
		 	border: solid 1px gainsboro;
		 	padding: 19px;
		 	margin-bottom: 25px;
		 	position: relative;
		 }
		 
		 .image img{
		 	width: 360px;
		 	height: 360px;
		 	}
		 .slide{
		 	position: absolute;
		 	left: 20px;
		 	top: 20px;
		 	opacity: 0.5;
		 	background: gray;
		 	width: 100px;
		 	height: 100px;
		 	display: none;
		 	}
		 	
		 	 .big{
		 	 	display: none;
		 	width: 500px;
		 	height: 500px;
		 	/*border: solid 1px;*/
		 	position: absolute;
		 	left: 0;
		 	top: -50px;
		 	background-size:1000px 1000px ;
		 	background-position: 0px 0px;
		 	z-index: 100;
		 	}
		 
		 .clearfix{
		 	width: 400px;
		 	height: 62px;
		 /*	border: solid 1px gainsboro;*/
		 	padding-left: 30px;
		
		 }
		 
	
		 .clearfix li{
		 	width: 60px;
		 	height: 60px;
		 	border: solid white 3px;
		 	padding: 3px;
		 	margin-right:8px;
		 	
		 	float: left;
		 }
		 
		.clearfix .select{
		 border-color: orangered;
		 }
		 .clearfix li:hover{
		 	border-color: orangered;
		 }
		 
		 
		 .detail-information{
		 	width: 700px;
		 	height: 500px;
		 	/*border: solid 1px;*/
		 	margin-left: 40px;
		 	float: left;
		 	position: relative;
		 }
		 
		
		 
		 .name{
		 	/*margin-top: 10px;*/
		 	/*padding-top: 20px;*/
		 	/*height: 50px;*/
		 	/*line-height: 50px;*/
		 	
		 	font-size: 16px;
		 	font-weight: bold;
		 	background: white;
		 }
		 
		 .price span{
		 font-size: 16px;
		 color: darkgray;
		 	margin-left: 20px;
		
		 }
		 
		 .price .price-m{
		   
		 	font-size: 20px;
		 	
		 	margin-left: 20px;
		 	font-weight: bold;
		 }
		 
		 .desc span{
		 	 font-size: 16px;
		 color: darkgray;
		 	margin-left: 20px;
		 	}
		 	
		 	.desc .desc-p{
		 		font-size: 16px;
		 	color: dimgray;
		 	margin-left: 20px;
		 	}
		 		
		 	
		 .hot{
		 	margin-bottom: 10px;
		 }
		 .hot span{
		 	 font-size: 16px;
		 color: darkgray;
		 	margin-left: 20px;
		 	
		 }
		 
		 .hot .hot-p{
		 		font-size: 20px;
		
		 	margin-left: 20px;
		 	font-weight: bold;
		 }
		 
		 .hot .hot-p span{
		 	font-size: 16px;
		 
		 	margin-right: 6px;
		 	margin-left: 10px;
		 }
		 
		 .info{
		 	/*margin-top: 20px;*/
		 	/*background:#ffcbc4 ;*/
		 }
		 
		
		 
	
		 
		 .cart{
		 	width: 100%;
		 	height: 60px;
		 	border-bottom: solid 1px darkgray;
		 	
		 }
		 
		 .cart input{
		 	height: 49px;
		 	width: 60px;
		 	text-align: center;
		 	margin-left: 20px;
		 	border-radius: 4px;
		 	float: left;
		 }
		 
		 .amount{
		 	height: 52px;
		 	width: 110px;
		 	float: left;
		 	/*border:  solid 1px;*/
		 }
		 
		 .join{
		
		 	height: 50px;
		 	text-align: center;
		 	font-size: 20px;
		 	line-height: 50px;
		 	margin-left: 20px;
		 	width: 150px;
		 	background: orangered;
		 	border-radius: 6px;
		 	float: left;
		 	color: white;
	
		 	}
		 
		 .join:hover{
		 	text-decoration: none;
		 	color: #9E9E9E;
		 }
		 
		 .add{float: left; font-size: 18px;margin-left: 1px;border: solid 1px gray;height: 24px;line-height: 24px;
		 background: ghostwhite;width: 24px;text-align: center;cursor: pointer;border-radius: 4px; color: darkgray;}
		 .reduce{float: left;font-size: 18px;margin-left: 1px;
		 border: solid 1px gray;height: 24px;line-height: 24px;
		 background: ghostwhite;width: 24px;text-align: center; cursor: pointer;border-radius: 4px;color: darkgray;}
		 	
		 section{
		  	width: 100%;
		  	height: 182px;
		  	/* border-bottom: solid orangered 2px; */
		  	}
		  	
		  	.hd-logo img{
		  		width: 140px;
		  		height:140px ;
		  		float: left;
		  		}
		  		
		  		.hd-slogan img{
		  			width: 200px;
		  			height:100px ;
					margin-top: 20px;
		  			
		  			float: left;
		  			}
		  			
		  			.header-bp{
		  				width: 1200px;
		  				height: 182px;
		  				border-bottom: solid orangered 2px;
		  				margin: 0 auto;
		  				}
		  				.logo{width: 400px;float: left;}
		  				.logo:after{
		  					content: '';display: block;clear: both;
		  					}
		  					.header-right{width: 800px;height: 180px;float: left;}
		  					
		  						.cart-2{
		  							width: 150px;
		  							float: right;
		  							margin-top: 40px;
		  							height: 50px;
		  							border: solid 1px darkgray;
		  							border-radius: 50px;
		  							text-align: center;
		  							line-height: 48px;
		  							color: gray;
		  							font-size: 20px;
		  							cursor: pointer;
		  							margin-left: 40px;
		  							}
		  					   
		  					   
		  					   .cart-2 a{ color: gray;}
		  					.hd-search{width: 400px;height: 50px;border: solid 1px orangered;border-radius:50px ;padding-left:26px ;
		  				
		  					
		  					}
		  					.search{
		  							margin-top: 40px;
		  						width: 400px;
		  						height: 70px;
		  						float: right;
		  					}
		  					
		  					.search li{
		  						float: left;
		  						margin-top: 4px;
		  						margin-left: 30px;
		  						
		  					}
		  					
		  					.search li a{
		  						color: gray;
		  					}
		  					
		  					.hd-search input{
		  						margin-top: 4px;
		  						  height:40px;
		  						  width: 304px;
		  						  border: none;
		  						  outline: none;
		  						  float: left;
		  						}
		  						.hd-search .button{
		  							height: 49px;
		  							width: 68px;
		  							float: left;
		  							background: orangered;
		  							font-size: 28px;
		  							text-align: center;
		  							
		  							padding-top:10px;
		  							cursor: pointer;
		  							color: white;
		  							border-bottom-right-radius: 25px;
		  							border-top-right-radius: 24px;
		  						}
		  				
		  					
		  input::-webkit-outer-spin-button,            input::-webkit-inner-spin-button{ 
			  -webkit-appearance: none !important; 
			  }
		  
		
		
		.more{
			width: 100%;
			/* height: 500px; */
			/* background: #0000FF; */
			float: left;
			
		}
		.floatle{
			width: 15%;
			
			margin-left: 10px;
			float: left;
			
		}
		.floatle ul li{
			width: 100%;
			padding-bottom:20px;
			border: 1px solid  #eee;
			margin-top: 20px;
			text-align: center;
		}
		.floatle ul li p{
			margin: 20px;
		}
		.photo{
			margin-top: 10px;
			width: 100px;
			height: 100px;
		}
		.center{
			margin-left: 25%;
		}
		
		
		.footer{
			width: 90%;
			/* height: 100px; */
			float: left;
			margin-left: 10%;
			margin-top: 20px;
			border-bottom: 1px solid #ebebeb;
			/* border-top: 2px solid #5E5E5E; */
		}
		.footer-top{
			
		}
		.icon{
			width: 24%;
			float: left;
		}
		.icons{
			/* width: ; */
			float:left;
			padding-top: 12px;
			padding-right: 10px;
		}
		.list-bottom{
			margin-top: 120px;
		}
		.content{
			font-size: 16px;
		    font-weight: bold;
			color: #333;
		}
		.sub-content{
			color: #999;
		}
		.sundry{
			margin-top: 50px;
		}
		.details{
			overflow: hidden;
			width: 20%;
			float: left;
			padding: 10px;
			border-top: 1px solid #ebebeb;
			}
		.details ul{
			width: 100%;
			
		}
		.details ul li:first-child {
			margin-bottom: 10px;
		}
		.details ul li:first-child a{
			font-size: 14px;
			font-weight: bold;
			
			/* color: red; */
		}
		.details li{
			
			display: inline-block;
			width: 100%;
			padding: 2px;
		}
		.QR-codes{
			float: left;
		}
		.QR-codes img{
			width: 100px;
			position: fixed;
			bottom: 120px;
			right: 20px;
		}
		.contact{
			display: block;
			border: 2px solid white;
			background: #ff7f62;
			width: 100px;
			position: fixed;
			bottom: 230px;
			right: 20px;
		}
		.statment{
			text-align: center;
			float: left;
		}
		.statment p a{
			margin: 5px;
		}
		
		#choose:after{
				content: "";
				display: block;
				
				clear: both;
			}
			
			#choose-1:after{
			content:"";
			display:block;
			clear:both;
			}
			#choose-1{margin-bottom: 20px;
			/*width: 700px;
			height: 40px;*/
			}
			
			#choose-2:after{
			content:"";
			display:block;
			clear:both;
			}
			#choose{
				margin-bottom: 20px;
			}
			#choose-2{
				margin-bottom: 20px;
				
			}
			.dt{
				float: left;
				/*width: 90px;*/
				height: 40px;
				margin-left: 20px;
				font-size: 18px;
				color: #A9A9A9;
				line-height: 40px;
			
				
			}
			.dd{
			  margin-left: 20px;
				height: 46px;
				float: left;
			}
			
			.item {
				
				height: 42px;
				margin-right:8px ;
				line-height: 40px;
				position: relative;
				
			}
			
			.item p{
				position: absolute;
				right: 4px;
				top: 24px;
				color: orangered;
				display: none;
				opacity:0.6
				
			}
			/*数量框*/
			.number{
				font-size:24px;
			}
			
			.item div{
				/*width: 88px;*/
				height: 42px;
				
				border:  solid 1px #999999;
			  cursor:pointer;
				
			}
			
			.item div:hover{
			background: #9e9e9e;
			}
			
			
			.item div i{
				vertical-align: middle;
				margin-left: 8px;
				margin-right: 8px; 
				
				font-size:12px ;
			}
			
			.selected div{
		    border:  solid 1px orangered;
		    text-decoration: none;
			}
			
			.selected p{
				display: block;
			}
/*雪花旋转动画*/

body>img{
	animation:haha1 2s linear infinite;
}
@-webkit-keyframes haha1{ from{transform:rotate(0)} to{transform:rotate(360deg)} 