*{margin:0px;padding:0px;}
img{border:none;vertical-align:bottom;}
li{list-style:none;}
a{text-decoration:none; color: #666;}
body{
	overflow-x: hidden;
	background-attachment: fixed;
	background-size: contain;
}
.top-lan{
	/* float: left; */
	width: 100%;
	height: 30px;
	background:#f4f4f4;
	z-index: 1000;
}
.posi{
	color: red;
	font-size: 16px;
}
.links{
	font-size: 12px;
	line-height: 30px;
}
.links-right {
	line-height: 30px;
	color:#666;
}
.links-right>a{
	color: red;
	padding-right: 10px;
}
.links-right>i{
	text-decoration: none;
	padding: 0px 8px;
}
.links-right>label{
	padding:0px 8px ;
}
header{
	width: 80%;
	margin: 0 auto;
}
.logo-img{
	float: left;
	width: 140px;
	height: 140px;
}
.slogan{
	float: left;
	width: 160px;
	height: 90px;
	margin-top: 32px;
	vertical-align: middle;
}
.search-btn{
	background: none;
	border: none;
	outline: none;
}
.glyphicon-search{
	font-size: 18px;
}
.search-right{
	width:650px;;
	position: relative;
	float: right;
	padding-top: 50px;
}
.search-input{
	width: 476px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 38px;
	line-height: 38px;
	color: #333;
	background: #fcfcfc;
	outline: none;
	padding-left: 32px;
	font-size: 14px;
	border:1px solid #e2e2e2;
	background:#fcfcfc;
	float: left;
}

.search-input:hover{
	    line-height: 38px;
	    color: #333;
	    background: #fcfcfc;
		border: 1px solid red;
}

.search-btn{
	position: absolute;
	top: 60px;
	right: 190px;
	
}
.cart{
	display: block;
	width: 120px;
	height: 38px;
	float:left;
	padding: 9px 0 9px;
	border: 1px solid #e2e2e2;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: #fff;
	text-align: center;
	line-height: 20px;
	color: #333;
	font-size: 16px;
	margin-left: 20px;
}
.search-list{
	float: left;
	margin-left: 34px;
	padding-top: 8px;
}
.search-list li{
	margin-right: 10px;
	float: left;
}
.nav{
	float: left;
	width: 1000px;
	height: 38px;
	/* background: red; */
}
.all-items{
	float:left;
	width: 140px;
	height: 38px;
	margin-right: 50px;
	font-size: 16px;
	background: #ff4040;
	text-align: center;
	line-height: 38px;
	color: white;
	position: relative;
	
}
.nav-list{
	
	width: 100%;
	height: 38px;
	margin-left: 30px;
	margin-bottom: 0px;
	text-align: center;
}
.nav-list li{
	width: 50px;
	float: left;
	line-height:38px ;
	margin-left:2%;
	/* padding-right: 20px; */
	background: #FF4040;
	border-radius: 20%;
	
}
.nav-list li>a{
	color: #333;
	font-size: 16px;
	
}
.nav-list li:hover>a{
	text-decoration: none;
	color: white;
}
.all-item-icon{
	margin-right: 10px;
}
.hover-forward{
	position: relative;
	top: 2px;
}
.banner{
	float: left;
	width:100%;
	height: 400px;
	/* overflow: hidden; */
	position: relative;
}

.banner ul li{
	position: absolute;
}
.banner ul li img{
	position: absolute;
	left: -150px;
}

/* 轮播图css */
.number{
	width: 500px;
	position: absolute;
	left: 50%; margin-left:-250px;
	bottom: -12px;
	z-index: 10;
	
  }
  .number span{
	width:110px; height: 40px;
	display: inline-block;
	background: white;
	color: black;
	margin: 0px 5px;
	border-radius: 5%;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
	z-index: 10;
  }
  .number span.current{
	background: #333;
	color: white;
  }
  /* .number span.current{
  	background: #333;
  } */


.insert{
	width: 100px;
	height: 1000px;
	background: red;
	float: left;
}
.mynav{
	width: 100%;
	height:60px;
	display: none;
	background: white;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.nav-logo-img{
	height: 60px;
	float: left;
	margin-left: 120px;
}
.nav-search{
	width: 800px;
	//float: left;
	margin-left: 100px;
	margin-top: 10px;
	
}

.nav-search-btn{
	float: left;
    margin-left: -40px;
    margin-top: 10px;
	//position: absolute;
	//top: 19px;
	//right: 285px;
	background: none;
	border: none;
	outline: none;
}
.nav-cart{
	float: right;
}
#top{
	width: 80px;
	height: 80px;
	text-align: center;
	line-height:80px ;
	background: #ff7f62;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	border-radius: 50%;
	cursor: pointer;
}

.goods-top{
	width: 80%;
	/* height: 100px; */
	margin-left: 10%;
	margin-top: 70px;
	float: left;
	
}
.goods{
	float: left;
	width: 24%;
	text-align: center;
	padding: 1%;
	border-left: 2px solid #666;
	border-right: 2px solid #666;
	margin: 0.5%;
	margin-bottom: 40px;
	border-radius: 10%;
	position: relative;
}
.goods>p{
	
	margin-bottom: 2px;
	height: 40px;
	overflow: hidden;
}
.goods .pai{
	font-size:20px;
	color:red;
}
.goodsname{
	color: red;
	font-weight: bold;
}
/* 商品名变红 */

.addincart{
	opacity: 0;
	width: 49%;
	margin: 0 auto;
}
.goods img{
	width: 100%;
	height: 35%;
}
.footer{
	width: 90%;
	/* height: 100px; */
	float: left;
	margin-left: 10%;
	margin-top: 20px;
	border-bottom: 1px solid #ebebeb;
	/* border-top: 2px solid #5E5E5E; */
}
.footer-top{
	
}
.icon{
	width: 24%;
	float: left;
}
.icons{
	/* width: ; */
	float:left;
	padding-top: 12px;
	padding-right: 10px;
}
.list-bottom{
	margin-top: 120px;
}
.content{
	font-size: 16px;
    font-weight: bold;
	color: #333;
}
.sub-content{
	color: #999;
}
.sundry{
	margin-top: 50px;
}
.details{
	overflow: hidden;
	width: 20%;
	float: left;
	padding: 10px;
	border-top: 1px solid #ebebeb;
	}
.details ul{
	width: 100%;
	
}
.details ul li:first-child {
	margin-bottom: 10px;
}
.details ul li:first-child a{
	font-size: 14px;
	font-weight: bold;
	
	/* color: red; */
}
.details li{
	
	display: inline-block;
	width: 100%;
	padding: 2px;
}
.QR-codes{
	float: left;
}
.QR-codes img{
	width: 100px;
	position: fixed;
	bottom: 120px;
	right: 20px;
}
.contact{
	display: block;
	border: 2px solid white;
	background: #ff7f62;
	width: 100px;
	position: fixed;
	bottom: 230px;
	right: 20px;
}
.statment{
	text-align: center;
	float: left;
}
.statment p a{
	margin: 5px;
}

/* 鼠标移入面板 */

.cover{
	width: 95%;
	height: 75%;
	padding-top: 70%;
	/* background: red; */
	/* background: rgba(0,0,0,0); */
	color:rgba(0,0,0,0);
	position: absolute;
	top: 1%;
	left:3%;
	border-radius: 7%;
	cursor:url("../img/buyit.cur"),auto;
	/* display: none; */
}
.goods:hover .content_a .cover {
	background: rgba(0,0,0,0.6);
	color:rgba(255,255,255,1);
}
.goods:hover .addincart{
	opacity: 1;
}
.more{
	width: 100%;
	height: 50px;
	float: left;
	position: relative;
}
.loadmore{
	position: absolute;
	left: 50%;
	margin-left: -46px;
	font-size: 16px;
}


/* 分类网页样式 */
	#jump{
	width: 285px;
	height: 50px;
	/* background: #666666; */
	font-size: 20px;
	margin: 0 auto;
	float: left;
}
#jump a:hover{
	color: red;
}
.numberspan{
	width: 40px;
	height: 20px;
	margin-left: 20px;
}
.bannera{
	width: 290px;
	margin: 0 auto;
}


/* 去首页 */
.gohome{
	position: fixed;
	bottom: 280px;
	right: 20px;
}

/* 全部分类弹出的分类列表 */
.allclassify{
	display:none ;
	width:1000px;
	height: 350px;
	background:white;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1000;

}





/*商品鼠标移入的字体	*/
.goodsdecoration{
	margin-top:-30%;
	
}

.floatitem{
	width:100%;
	height: 100%;
	background:rgba(0,0,0,0.3);
	position:fixed;
	top:0px;
	left:10px;
	z-index:1001;
	display:none;
	
}
.floatitem img{
	width:200px;
	height: 200px;
	margin-top:20%;
	margin-left:20%;
}
.it{
	height: 300px;
	width:300px;
	background:red;
	position:relative;
	top:100px;
	left:200px;
	border-radius:10%;
	
}
.ite1{
	top:10%;
	left:30%;
	background:blue;
	box-shadow:-10px -10px 10px red;
}
.ite2{
	top:-30.4%;
	left:50.5%;
	background:orange;
	box-shadow:10px -10px 10px pink;
}
.ite3{
	top:-29.5%;
	left:30.5%;
	background:pink;
	box-shadow:-10px 10px 10px orange;
}
.ite4{
	top:-70%;
	left:50.5%;
	background:red;
	box-shadow:10px 10px 10px blue;
}



body>img{
	animation:haha1 2s linear infinite;
}
@-webkit-keyframes haha1{ from{transform:rotate(0)} to{transform:rotate(360deg)} 


