<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jyhwebstore</display-name>
  <!-- ==========================================验证码的servlet======================================================== -->
  <!-- 验证码的servlet -->
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>mao.soft.web.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <!-- =========================================log4j的测试servlet============================================================ -->
  <!-- log4j的测试servlet -->
  <servlet>
    <servlet-name>Log4JTestServlet</servlet-name>
    <servlet-class>mao.soft.web.servlet.Log4JTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4JTestServlet</servlet-name>
    <url-pattern>/Log4JTestServlet</url-pattern>
  </servlet-mapping>
  <!-- ========================================== log4j的servlet  ===================================-->
  <servlet>
    <servlet-name>Log4jInitServlet</servlet-name>
    <servlet-class>mao.soft.web.servlet.Log4jInitServlet</servlet-class>
    <init-param>
    	<param-name>log4jInitLocation</param-name>
    	<param-value>log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>   <!-- 设置加载顺序 -->
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4jInitServlet</servlet-name>
    <url-pattern>/Log4jInitServlet</url-pattern>
  </servlet-mapping>
  <!-- ================================================================================================= -->
  <!-- 注册的servlet -->
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>mao.soft.web.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 单态监听 -->
   <listener>
		<listener-class>tan.LoginSessionListener</listener-class>
	</listener>
	
	<!-- 登录servlet-->
	<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>tan.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/store/html/login</url-pattern>
	</servlet-mapping>


<!-- 字符转码 -->
	  <filter>
  	<filter-name>character</filter-name>
  	<filter-class>tan.filter.CharacterEncodingFilter</filter-class>
 	<init-param>
 		<param-name>oldEncoding</param-name>
 		<param-value>ISO8859-1</param-value>
 	</init-param>
 	<init-param>
 		<param-name>newEncoding</param-name>
 		<param-value>UTF-8</param-value>
 	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>character</filter-name>
  	<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<filter>
  	<filter-name>loginfilter</filter-name>
  	<filter-class>tan.filter.OnlineFilter</filter-class>
  	</filter>
	<filter-mapping>
  	<filter-name>loginfilter</filter-name>
  	<url-pattern>/store/html/operation/*</url-pattern>
  	</filter-mapping>
  
  	
  	<!-- 主页的过滤器 -->
  	<filter>
  	<filter-name>Indexfilter</filter-name>
  	<filter-class>chao.filter.IndexFilter</filter-class>
  	</filter>
	<filter-mapping>
  	<filter-name>Indexfilter</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  	</filter-mapping>
  	
  	
  	
  	
  	
  	
  	
  	
</web-app>
